<ion-toolbar color='warning'>
  <ion-buttons slot="start" (click)="openFirst()">
    <ion-menu-button auto-hide="false"></ion-menu-button>
  </ion-buttons>
  <ion-buttons slot="secondary">
  </ion-buttons>
  <ion-title>View Post</ion-title>
</ion-toolbar>


<ion-menu side="start" menuId="first" contentId="main" class="my-custom-menu">
  <ion-header>
    <ion-toolbar color="warning">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>View Post</ion-item>
      <ion-item (click)='cratepost()'>Creage Post</ion-item>
      <ion-item (click)='managepost()'>Manage Post</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>



<ion-content>
  <ion-card *ngFor="let tmp of this.datat">
    <ion-card-header style="color: aqua;font-size: medium; font-size: 20px;">
      {{tmp.topic}}
    </ion-card-header>
    <ion-card-content>
      {{tmp.detail}}
    </ion-card-content>
    <ion-card-content style="text-align: end;">
      Author {{tmp.name}}
    </ion-card-content>
  </ion-card>
</ion-content>
