<ion-content class='content' [fullscreen]="true">
  <div class='center'>
    <h1 class='main'>Enter your name</h1>
    <ion-input class='text' placeholder="Enter name" value={{this.name}} [(ngModel)]="this.name">
      <ion-icon name="person-circle-outline" style='font-size: 30px; margin-right: 10px;'></ion-icon>
    </ion-input>
  </div>
  <ion-button class='buttons' shape="round" color='dark' (click)='clickok()'>
    <ion-text color="primary">
      OK
    </ion-text>
  </ion-button>
</ion-content>
